@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
	font-size: 16px;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

/* styling for header */
header {
	display: inline;
}

/* styling for navigation bar */
.navigation {
	position: sticky;
	top: 0;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border-bottom: 5px solid #4e0e8a;
	background-image: linear-gradient(to left, #8a2be2 40%, #f4f2e9 80%);
}

.navigation h2 {
	padding-left: 50px;
	color: #5b159d;
	letter-spacing: 1.5px;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	text-shadow: 3px 5px 5px rgba(51, 51, 51, 0.5);
}

.navigation h2 span {
	font-size: 2.2rem;
}

.list-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 60%;
	margin-left: 100px;
}

.list-item li {
	list-style: none;
}

.list-item li > a {
	text-decoration: none;
	font-size: 1.2rem;
	color: cornsilk;
	transition: all 0.3s;
	position: relative;
}

.list-item li:last-child > a {
	padding: 7px 14px;
	background-color: #400874;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 5px rgba(255, 56, 242, 0.9);
}

.list-item li:last-child > a:hover {
	background-color: transparent;
	border: 3px solid #400874;
}

.list-item li:nth-child(odd) > a::after,
.list-item li:nth-child(2) > a::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 5px;
	background-color: #28004d;
	border-radius: 5px;
	transition: all 0.3s;
}

.list-item li:nth-child(odd) > a:hover:after,
.list-item li:nth-child(2) > a:hover:after {
	width: 100%;
}

.list-item li > a:hover {
	font-weight: bolder;
}

/* styling for humburger menu */
.humburgerMenu {
	padding-right: 50px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
	position: relative;
}
.humburgerMenu input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 28px;
	height: 20px;
	cursor: pointer;
	z-index: 2;
}
.humburgerMenu span {
	background-color: white;
	width: 28px;
	height: 3px;
	transition: all 0.7s;
}
/* humburger-menu animation */
.humburgerMenu span:nth-child(2) {
	transform-origin: 0 0;
}
.humburgerMenu span:nth-child(3) {
	transform: scale(1);
	opacity: 1;
}
.humburgerMenu span:nth-child(4) {
	transform-origin: 0 100%;
}

.humburgerMenu input:checked ~ span:nth-child(2) {
	transform: rotate(45deg) translate(-1px, -1px);
}
.humburgerMenu input:checked ~ span:nth-child(3) {
	transform: scale(0);
	opacity: 0;
}
.humburgerMenu input:checked ~ span:nth-child(4) {
	transform: rotate(-45deg);
}
/* end styling humburger menu */
/* end sttyling header and navigation */

/* styling for main content */
/* styling for home */
main article.home {
	position: relative;
	overflow: hidden;
}

main article.home .home-image img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}

main article.home .home-image span {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 1;
	overflow: hidden;
	width: 100%;
	height: 600px;
	background-color: rgba(137, 43, 226, 0.51);
}

span .tagline {
	border: 5px solid #f4f2e9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

span .tagline h1:first-child {
	padding-bottom: 10px;
	color: #34085e;
	font-size: 3rem;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	text-shadow: 0px 0px 7px rgba(255, 254, 254, 0.8);
}

span .tagline h1.text {
	color: cornsilk;
	text-shadow: 2px 3px 5px rgba(51, 51, 51, 0.5);
}

span .tagline a {
	margin-top: 10px;
	font-size: 1.2rem;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	border: 3px solid #1f0736;
	color: cornsilk;
	background-color: #ff0095;
	transition: all 0.3s;
}

span .tagline a:hover {
	font-weight: bold;
	font-size: 1.3rem;
	color: white;
	text-shadow: 0px 0px 7px rgba(5, 139, 248, 0.8), 0px 0px 7px rgba(5, 139, 248, 0.8);
	border: 3px solid rgb(175, 173, 164);
	background-color: transparent;
}
/* end styling for main content */
/* end styling for home */

/* styling for prolog */
article.prolog {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 600px;
	margin-top: -5px;
	background-color: #e220cf;
}

.logo {
	background-color: white;
	width: 18rem;
	height: 18rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: 10px solid #5b159d;
	box-shadow: 3px 5px 5px 7px rgba(51, 51, 51, 0.7);
}

.logo h1 {
	font-family: poppins, Arial, Helvetica, sans-serif;
	font-size: 4rem;
	color: #5b159d;
	text-shadow: 4px 5px 6px rgba(51, 51, 51, 0.6);
}

.logo h1 span {
	font-size: 2rem;
}

.content-prolog {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 3px 3px 5px 7px rgba(51, 51, 51, 0.5);
	background-color: rgba(255, 255, 255, 0.435);
}

.content-prolog .brand-icon h1 {
	border-radius: 10px;
	width: 250px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px solid #5b159d;
	color: #5b159d;
	letter-spacing: 1.5px;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
}

.content-prolog .brand-icon span {
	font-size: 2.2rem;
}

.content-prolog .text-content {
	padding-top: 10px;
	line-height: 1.6rem;
	font-size: 1.15rem;
	color: #333;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}
/* end styling for prolog */

/* styling for benefits content */
/* styling for benefits */
.benefits {
	/* height: 560px; */
	width: 100%;
	background-color: #8a2be2;
	display: grid;
	padding: 30px;
}

.benefits h1 {
	padding-bottom: 20px;
	color: cornsilk;
	text-shadow: 0px 0px 7px rgba(5, 139, 248, 0.8), 0px 0px 7px rgba(5, 139, 248, 0.8);
}

.content-benefits {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap: 30px;
}

.content-benefits li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	border-radius: 20px;
	list-style: none;
	align-content: center;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 3px 3px 5px 7px rgba(51, 51, 51, 0.5);
	cursor: pointer;
}

h1.icon {
	text-align: center;
	line-height: 55px;
	width: 55px;
	height: 55px;
	background-image: linear-gradient(to left, #8a2be2, #ff0095);
	box-shadow: 0px 0px 5px 5px #28004de1;
	border-radius: 50%;
}

h2.title {
	font-size: 1.3rem;
	padding: 10px 0px 5px;
	color: #240b3b;
}

.content-benefits li p {
	/* letter-spacing: 1px; */
	line-height: 1.5rem;
	font-size: 1.07rem;
	color: #333;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}

/* end styling for benefits */

/* styling for contact */
article.contact {
	background-color: #ff16f7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s;
}

.contact-content {
	display: flex;
	flex-direction: column;
	padding: 0px 40px;
}
.heading {
	align-self: center;
	text-align: center;
	border-radius: 10px;
	width: 250px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px solid #5b159d;
	color: #5b159d;
	letter-spacing: 1.5px;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
}

.heading span {
	font-size: 2.3rem;
}

.contact-content .text {
	text-shadow: 0px 0px 3px blueviolet, 0px 0px 5px blueviolet;
	color: cornsilk;
	font-size: 2rem;
	text-align: center;
}

/* form contact */
section.container.contact {
	display: flex;
	flex-direction: column;
	background-color: cornsilk;
	color: #400874;
	padding: 30px;
	box-shadow: -4px 0px 5px 5px rgba(51, 51, 51, 0.8);
	border-radius: 5px;
	width: 40%;
	padding: 20px;
	cursor: pointer;
	transition: all 0.3s;
}

h1.contact-us {
	color: #333;
	letter-spacing: 1.2px;
	font-size: 1.8rem;
	padding-bottom: 20px;
	text-shadow: 0px 0px 3px rgba(5, 139, 248, 0.8), 0px 0px 5px rgba(5, 139, 248, 0.8);
}

label {
	color: #333;
	font-size: 1.1rem;
	font-weight: 600;
}

input[type="text"],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

.container.contact a {
	border: none;
	font-size: 1.1rem;
	background-color: #55099c;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	width: 100%;
	align-self: flex-end;
	border-radius: 10px;
	transition: all 0.3s;
	box-shadow: 0px 0px 3px 2px rgba(51, 51, 51, 0.5);
}

.container.contact a:hover {
	background-color: transparent;
	color: #55099c;
	border: 2px solid #55099c;
	font-weight: bolder;
}
/* end styling for contact */

/* styling for footer */
footer.about {
	background-color: rgb(104, 31, 172);
	padding: 30px;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

/* styling for profile in footer */
div.container-profile {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(255, 248, 220, 0.159);
	box-shadow: 0px 0px 3px 5px #8706ff71;
}

.logo.footer {
	box-shadow: 2px 3px 3px 5px rgba(58, 50, 50, 0.824);
}

.main.profile {
	display: flex;
	flex-direction: column;
	padding: 20px 10px 30px 20px;
	color: white;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	line-height: 1.2rem;
}

.contact-person p > a {
	color: #f085e6;
	transition: all 0.3s;
}

.contact-person p > a:hover {
	color: cornsilk;
	font-weight: bold;
}

aside.address-company {
	padding-bottom: 10px;
}

aside.address-company h2 {
	padding-bottom: 10px;
}

/* styling for icon socmed */
.icon-socmed ul.icon {
	width: 75%;
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.icon-socmed ul.icon img {
	width: 3rem;
	height: 3rem;
}

.icon-socmed ul.icon li:nth-child(5) img {
	width: 2.8rem;
	height: 2.8rem;
}

.icon-socmed ul.icon li:nth-child(1) img {
	width: 2.8rem;
	height: 2.8rem;
}

.icon li a img {
	background-color: cornsilk;
	padding: 3px;
	border-radius: 10px;
	transition: all 0.2s;
}

.icon li a img:hover {
	border: 4px solid #e220cf;
}

/* styling profile creator */
.biodata.creator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: rgba(255, 248, 220, 0.159);
	box-shadow: 0px 0px 3px 5px #8706ff71;
	border-radius: 20px;
}

.biodata.creator h1 {
	color: cornsilk;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	text-shadow: 0px 0px 5px rgba(251, 0, 255, 0.8), 0px 0px 3px rgba(251, 0, 255, 0.8);
}

.biodata.creator h2 {
	color: cornsilk;
	padding: 5px;
	text-shadow: 0px 0px 5px rgba(251, 0, 255, 0.8), 0px 0px 3px rgba(251, 0, 255, 0.8);
}

.biodata.creator .foto {
	width: 40%;
	height: 40%;
	margin: 15px 0px;
	border: 3px solid #5b159d;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.624);
}

.biodata.creator p {
	color: cornsilk;
}

/* Blur Effect for main and footer */
.blur {
	filter: blur(6px);
	transition: all 0.3s;
}
/* responsive breakpoints */
@media screen and (max-width: 1200px) {
	footer.about .container-profile {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}

/* responsive for tablet */
@media screen and (max-width: 926px) {
	.humburgerMenu {
		display: flex;
	}

	.list-item {
		position: absolute;
		right: 0;
		margin-left: 0;
		top: 60px;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		height: 100vh;
		width: 80%;
		transform: translatey(-100%);
		background-color: #680ebce9;
		opacity: 0;
		transition: all 0.5s;
	}

	.list-item.slider {
		opacity: 1;
		transform: translate(0);
	}

	main article.home .home-image img,
	main article.home .home-image span {
		width: 100%;
		height: 100%;
	}

	article.prolog {
		flex-direction: column;
		padding: 30px 0;
	}

	.logo {
		width: 14rem;
		height: 14rem;
	}

	.content-prolog {
		padding: 30px 30px 30px 40px;
		margin-top: 30px;
		width: 90%;
	}

	article.contact {
		padding: 30px 0px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.contact-content {
		padding: 0px 40px 30px;
	}

	.heading {
		margin-bottom: 10px;
	}

	section.container.contact {
		width: 90%;
		box-shadow: 4px 3px 5px 5px rgba(51, 51, 51, 0.8);
		border-radius: 10px;
	}

	footer.about .container-profile {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	
	aside.biodata.creator h1 {
		text-align: center;
	}

	aside.biodata.creator h2 {
		text-align: center;
	}

	aside.address-company h2 {
		text-align: center;
	}
}

/* responsive breakpoint for mobile */
@media screen and (max-width: 600px) {
	.home {
		height: 100%;
	}

	.navigation h2 {
		text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.8), 0px 0px 7px rgba(255, 255, 255, 0.8);
	}

	.logo {
		width: 12rem;
		height: 12rem;
		border-width: 5px;
		box-shadow: 3px 3px 5px 5px rgba(51, 51, 51, 0.7);
	}

	.benefits {
		padding: 20px 15px;
	}

	article.benefits h1 {
		text-align: center;
	}
}

@media screen and (max-width: 530px) {
	.humburgerMenu {
		padding-right: 15px;
	}

	.navigation h2 {
		padding-left: 8px;
	}

	.filter .tagline {
		width: 85%;
		height: 85%;
		padding: 20px;
	}

	.filter .tagline > h1:first-child {
		font-size: 2rem;
	}

	.filter .tagline .text {
		font-size: 1rem;
	}

	.filter .tagline a {
		font-size: 1rem;
	}

	span .tagline a:hover {
		font-size: 1.1rem;
	}

	.logo {
		width: 10rem;
		height: 10rem;
		border-width: 5px;
		box-shadow: 3px 3px 5px 3px rgba(51, 51, 51, 0.7);
	}

	.logo h1 {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 490px) {
	article.prolog {
		position: relative;
		z-index: 2;
	}
	.logo {
		width: 12rem;
		height: 12rem;
	}

	.benefits {
		padding: 20px 15px;
	}
}

@media screen and (max-width: 460px) {
	aside.biodata.creator h1 {
		font-size: 1.3rem;
	}

	aside.biodata.creator h2 {
		font-size: 1.2rem;
	}

	aside.biodata.creator p {
		font-size: 0.9rem;
	}

	footer.about {
		padding: 20px;
	}
}

@media screen and (max-width: 410px) {
	section.main.profile .address-company h2 {
		font-size: 1.3rem;
	}

	aside.biodata.creator h1 {
		text-align: center;
	}

	aside.biodata.creator h2 {
		text-align: center;
	}
}
@media screen and (max-width: 353px) {
	.filter .tagline {
		width: 88%;
		height: 88%;
		margin-bottom: 10px;
		padding: 20px;
	}

	.filter .tagline > h1:first-child {
		font-size: 1.4rem;
	}

	.filter .tagline .text {
		font-size: 0.8rem;
	}

	.filter .tagline a {
		font-size: 0.8rem;
	}

	span .tagline a:hover {
		font-size: 0.9rem;
	}

	article.prolog {
		height: 100%;
	}

	.logo {
		width: 8.3rem;
		height: 8.3rem;
		border-width: 5px;
		box-shadow: 3px 3px 5px 3px rgba(51, 51, 51, 0.7);
	}

	.content-prolog {
		padding: 20px;
	}

	.logo h1 {
		font-size: 2.5rem;
	}

	.text-content p {
		font-size: 0.9rem;
	}

	.benefits {
		padding: 20px 15px;
	}

	.contact-content h1.text {
		font-size: 1.5rem;
	}

	footer.about {
		padding: 15px;
	}
}
